*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    font-family: 'Bungee', cursive;
    height: 100%;
    width: 100%;
    text-align: center;
}

#img{
    width:100%;
    height: auto;
}

img {
    position: relative;
    margin-top: 2%;
    height: 400px;
}

b {
    position: relative;
     font-size: 65px;
    color: #e6e6e6;
    font-weight: normal;
    text-shadow:    -4px 4px 0px #719eb5,
                    4px -4px 0px #719eb5,
                    4px 4px 0px #719eb5,
                    -4px -4px 0px #719eb5;
    height:80px;
}

#submit{
    position: relative;
  height: 56px;
  top:2px;
left:10px;
}
#login{
    position: relative;
    text-align:left;
    font-family:'Bungee';
    background: #e6e6e6;
    border: 4px solid #719eb5;
    font-size: 50px;
    border-radius:10px;
    width:450px;
    height:55px;
    color: #719eb5;
    top:-6px;
}
input[type=image]:focus {
opacity: 0.75;
}

#prompt{
    z-index: 2;
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 40px;
   color: #e6e6e6;
   font-weight: normal;
   text-shadow:    -4px 4px 0px #719eb5,
                   4px -4px 0px #719eb5,
                   4px 4px 0px #719eb5,
                   -4px -4px 0px #719eb5;
   height:80px;
   animation: blink 1s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

#loginPanel{
    background-color: #82b7d8;
    display: block;
}

#endPanel{
    background-color: rgba(255,0,0,0.5);
    font-size: 40px;
    z-index: 10;
}

#ranking{
    overflow-y: scroll;
}

@-webkit-keyframes blink {
    from {
        color: rgba(230, 230, 230, 1)
    }
    to {
        color: rgba(230, 230, 230, 0.2)
    }
}

.panel{
    background-color: rgba(130,183,216,0.5);
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 8;
}

.minipanel{
    position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    z-index: 5;
    background-color: rgba(130,183,216,1);
    border-radius: 20px;
}